<div class="col-md-6 offset-md-3">
  <h1 class="btn btn-primary col-md-6 offset-md-3"> Login <i style="position: relative ; left: 20px" class="fa fa-spin fa-anchor"></i></h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group row btn-primary">
      <label class="col ">
        Email
        <input type="email" class="form-control" formControlName="email">
      </label>
    </div>
    <div class="btn btn-danger" role="alert" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
      Invalid email!
    </div>

    <div class="form-group row btn-primary">
      <label class="col">
        Password
        <input type="password" class="form-control" formControlName="password">
      </label>
    </div>

    <div class="btn btn-danger" role="alert"
         *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
      Invalid password!
    </div>

    <div class="form-group row btn-primary">
      <label class="col">
        Country
        <input type="text" class="form-control" formControlName="country">
      </label>
    </div>

    <div class="btn btn-danger" role="alert"
         *ngIf="loginForm.get('country').invalid && loginForm.get('country').touched">
      Invalid country!
    </div>

    <div class="form-group row btn-primary">
      <label class="col">
        Age
        <input type="text" class="form-control" formControlName="age">
      </label>
    </div>

    <div class="btn btn-danger" role="alert" *ngIf="loginForm.get('age').invalid && loginForm.get('age').touched">
      Invalid age!
    </div>

    <div class="form-group row btn-primary">
      <label class="col">
        Gender
        <select class="form-control" formControlName="gender">
          <option> Male</option>
          <option> Female</option>
          <option> Option 3</option>
        </select>
      </label>
    </div>

    <div class="btn btn-danger" role="alert" *ngIf="loginForm.get('gender').invalid && loginForm.get('gender').touched">
      Invalid gender!
    </div>

    <div class="form-group row btn-primary">
      <label class="col">
       Phone
        <input placeholder="+84" class="form-control" formControlName="phone">
      </label>
    </div>

    <div class="btn btn-danger" role="alert" *ngIf="loginForm.get('phone').invalid && loginForm.get('phone').touched">
      Invalid phone number!
    </div>


    <div class="form-group">
      <button class="btn btn-info" type="submit">Submit</button>
    </div>
  </form>
</div>

